/* enlace */
a.contact:active {
  color: #1b67c9; 
}

/* enlace visitado */
a.contact:visited {
  color: #f00d0d; 
}
/* Titulo */
h1 {
  text-align: center; 
}

/* página completa */
body {
  font-family: 'Gill Sans', sans-serif; 
  margin: 20px;
}

/* cabecera */
header {
  background-color: black; 
  color: white; 
  margin: 0; 
  padding: 16px; 
}

/* párrafo  */
header h4 {
  text-align: center; 
}

/* pie de página */
footer {
  background-color: black; 
  color: white; 
  text-align: center; 
  padding: 16px; 
  margin-top: 50px; 
}
/* formulario */
form{
  width: 500px;
  padding: 16px;
  margin: auto;
  background-color: black;
}
/* etiquetas formulario */
label{
  width: 100px;
  font-weight: bold;
  color: white;
}
/* campos de entrada texto email*/
input[type="text"],
input[type="email"] {
  width: 350px;
  background-color: white;
  margin: 8px;
}
/* boton borrar*/
input[type="reset"] {
  width: 100%;
  margin-top: 16px;
  color: white;
  background-color: black;
}
/* textarea*/
textarea{
  width: 100%;
  height: 100px;
  background-color: white;
}
/*email cliente*/
.cambio-color{
  color: white;
}